<div class="w-full flex justify-between items-center text-sm font-medium px-4 md:px-[13rem] bg-tt-primary text-white">
  <div class="flex items-center gap-10 text">
    <div class="p-2">
      <img src="assets/images/logo.png" class="w-[8rem]" alt="LOGO" srcset="">
    </div>
    <ul class="flex items-center gap-4">
      <li *ngFor="let link of links" class="block">
        <a class="block" [routerLink]="link.url" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ link.label }}</a>
      </li>
    </ul>
  </div>
  <div class="flex items-center gap-5">

    <div class="flex items-center justify-center bg-white border border-gray-400 rounded-[5px]">
      <input type="search" (focus)="toList()" placeholder="Rechercher..." class="px-2 py-1 rounded-[5px] text-gray-400 font-medium focus:outline-none focus:ring-0">
      <div class="h-full flex justify-center items-center text-gray-400 py-1.5 cursor-pointer pr-1.5">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </div>
    </div>
    <ul class="px-2 flex items-center gap-5">
      <li class="cursor-pointer relative flex items-center mr-2">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-heart" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5Zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0ZM14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
          </svg>
        </div>
        <div class="w-4 h-4 bg-sky-600 text-white font-bold rounded-full flex justify-center items-center text-[10px] absolute -top-1 -right-3">6</div>
      </li>
      <li class="cursor-pointer relative flex items-center mr-2">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
        </div>
        <div class="w-4 h-4 bg-sky-600 text-white rounded-full font-bold flex justify-center items-center text-[10px] absolute -top-1 -right-3">4</div>
      </li>
    </ul>
  </div>
</div>
